Source: kstars
Section: misc
Priority: optional
Maintainer: Matteo Piscitelli <matteo@matteopiscitelli.it>
Build-Depends: cmake, debhelper-compat (= 13), libstellarsolver-dev, libxisf-dev, libeigen3-dev, libcfitsio-dev, zlib1g-dev, libindi-dev, extra-cmake-modules, libkf5plotting-dev, libqt5svg5-dev, libkf5xmlgui-dev, libkf5kio-dev, kinit-dev, libkf5newstuff-dev, libkf5doctools-dev, libkf5notifications-dev, qtdeclarative5-dev, libkf5crash-dev, gettext, libnova-dev, libgsl-dev, libraw-dev, libkf5notifyconfig-dev, wcslib-dev, libqt5websockets5-dev, qt5keychain-dev,libsecret-1-dev, libqt5datavisualization5-dev, libopencv-dev
Standards-Version: 4.5.1
Homepage: https://kstars.kde.org
Rules-Requires-Root: no

Package: kstars
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, kstars-data
Recommends: kstars-doc, indi-bin, breeze-icon-theme, xplanet, xplanet-images
Suggests: khelpcenter
Description: Free, open source, cross-platform Astronomy Software.
 It provides an accurate graphical simulation of the night sky, from any
 location on Earth, at any date and time. The display includes up to 100
 million stars, 13,000 deep-sky objects,all 8 planets, the Sun and Moon,
 and thousands of comets, asteroids, supernovae, and satellites.
 .
 For students and teachers, it supports adjustable simulation speeds in
 order to view phenomena that happen over long timescales, the KStars
 Astrocalculator to predict conjunctions, and many common astronomical
 calculations. For the amateur astronomer, it provides an observation planner,
 a sky calendar tool, and an FOV editor to calculate field of view of
 equipment  and display them. Find out interesting objects in the "What's up
 Tonight" tool, plot altitude vs. time graphs for any object, print
 high-quality sky charts, and gain access to lots of information and resources
 to help you explore the universe!
 .
 Included with KStars is Ekos astrophotography suite, a complete
 astrophotography solution that can control all INDI devices including
 numerous telescopes, CCDs, DSLRs, focusers, filters, and a lot more. Ekos
 supports highly accurate tracking using online and offline astrometry solver,
 autofocus and autoguiding capabilities, and capture of single or multiple
 images using the powerful built in sequence manager.
 .
 This package contains the compiled binary executable.

Package: kstars-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Free, open source, cross-platform Astronomy Software.
 It provides an accurate graphical simulation of the night sky, from any
 location on Earth, at any date and time. The display includes up to 100
 million stars, 13,000 deep-sky objects,all 8 planets, the Sun and Moon,
 and thousands of comets, asteroids, supernovae, and satellites.
 .
 For students and teachers, it supports adjustable simulation speeds in
 order to view phenomena that happen over long timescales, the KStars
 Astrocalculator to predict conjunctions, and many common astronomical
 calculations. For the amateur astronomer, it provides an observation planner,
 a sky calendar tool, and an FOV editor to calculate field of view of
 equipment  and display them. Find out interesting objects in the "What's up
 Tonight" tool, plot altitude vs. time graphs for any object, print
 high-quality sky charts, and gain access to lots of information and resources
 to help you explore the universe!
 .
 Included with KStars is Ekos astrophotography suite, a complete
 astrophotography solution that can control all INDI devices including
 numerous telescopes, CCDs, DSLRs, focusers, filters, and a lot more. Ekos
 supports highly accurate tracking using online and offline astrometry solver,
 autofocus and autoguiding capabilities, and capture of single or multiple
 images using the powerful built in sequence manager.
 .
 This package contains the architecture independent data.

Package: kstars-doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Free, open source, cross-platform Astronomy Software.
 It provides an accurate graphical simulation of the night sky, from any
 location on Earth, at any date and time. The display includes up to 100
 million stars, 13,000 deep-sky objects,all 8 planets, the Sun and Moon,
 and thousands of comets, asteroids, supernovae, and satellites.
 .
 For students and teachers, it supports adjustable simulation speeds in
 order to view phenomena that happen over long timescales, the KStars
 Astrocalculator to predict conjunctions, and many common astronomical
 calculations. For the amateur astronomer, it provides an observation planner,
 a sky calendar tool, and an FOV editor to calculate field of view of
 equipment  and display them. Find out interesting objects in the "What's up
 Tonight" tool, plot altitude vs. time graphs for any object, print
 high-quality sky charts, and gain access to lots of information and resources
 to help you explore the universe!
 .
 Included with KStars is Ekos astrophotography suite, a complete
 astrophotography solution that can control all INDI devices including
 numerous telescopes, CCDs, DSLRs, focusers, filters, and a lot more. Ekos
 supports highly accurate tracking using online and offline astrometry solver,
 autofocus and autoguiding capabilities, and capture of single or multiple
 images using the powerful built in sequence manager.
 .
 This package contains the main documentation.
